* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Text", serif;
}

body {
    width: 1100px;
    margin: 0 auto;
}

#meals {
    display: flex;
    justify-content: space-between;
}

#mealslist-main-container {
    display: flex;
    width: 75%;
}

#meals-header {
    width: 1100px;
}

#meal-items-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 20px;
}

.meal-image {
    width: 200px;
}

.meal-details {
    margin: 10px;
}

.red-hat-text-200 {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.red-hat-text-400 {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.red-hat-text-500 {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.red-hat-text-600 {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.relative {
    position: relative;
}

.font-weight-light {
    font-weight: lighter;
}

.font-color-gray {
    color: lightgray;
}

.font-color-gray-med {
    color: rgb(28 2 2 / 40%)
}

.text-center {
    text-align: center;
}

.meal-info {
    margin-top: 20px;
}

.li-none {
    list-style: none;
}

.img-container {
    position: relative;
}

button {
    position: absolute;
    bottom: -20px;
    left: 10%;
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    align-items: anchor-center;
    background-color: whitesmoke;
    color: black;
}

button:hover {
    border: 1px solid black;
}

.order-quantity-button {
    background-color: hsl(14, 86%, 42%);
    color: white;
}

#order-confirm {
    position: relative;
    bottom: -20px;
    left: 10%;
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    align-items: anchor-center;
    background-color: hsl(14, 86%, 42%);
    color: white;
}

#meals-header {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.red {
    color: hsl(14, 86%, 42%)
}

#cartlist {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 250px;
    padding: 10px;
    justify-content: space-between;
}

span {
    pointer-events: none;
}


.hidden {
    display: none;
}


.minus {
    background: url('/assets/images/icon-decrement-quantity.svg');
}
.confirmed{
    background: url('/assets/images/');
}

.align-left {
    text-align: left;
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 500px;
}

.modal-contents>div{
    margin: 0 auto;
}

#modal-order-button{
    position: static;
    margin: 0 auto;
}

@media (max-width: 375px) {

    body{
        max-width: 300px;
        overflow-x: hidden !important;
    }

    #mealslist-main-container{
        display: flex;
        flex-direction: column;
        width: 299px;
    }

    #meals-header{
        width: 300px;
    }
    #meal-items-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #cartlist{
        display: none;
        width: 0;
        height: 0;
    }

    .meal-card{
        margin: 0 auto;
    }
}